

.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fadeOut {
  opacity: 0;
  width: 0;
  height: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 2s, duration 5s;
  }
  .flexbox-container {
    display: flex;
    flex-direction: row;
}
.flexbox-container-small {
  display: flex;
  flex-direction: row;
  max-width: fit-content;
  width: '100%'
}
.flexbox-vertical-container {
  display: flex;
  flex-direction: column;

}
.flexbox-vertical-container-video {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  width: '100%';
  max-height: 300px;

}
.videostyle {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.flexbox-vertical-container-text {
  display: flex;
  flex-direction: column;
  left: 100;
  max-width: 200px;
  font-size: 15px;
}

.flexbox-vertical-container-intro {
  display: flex;
  flex-direction: column;
  max-width:450px;
  font-size: 15px;
}

.imagetest {
  transition: 'ease-in';
  max-width: 150px;
  max-height: 150px;
  margin-right: 15px;
  padding-right: 15px;
  height: 'auto';
  width: 'auto';
}
.imagesmall {
  transition: 'ease-in';
  max-width: 170px;
  max-height: 170px;
  height: 'auto';
  width: 'auto';
}
.fadeIn {
  opacity: 1;
  width: 100px;
  height: 100px;
  transition: width 0.5s, height 0.5s, opacity 2s 2s, duration 5s;
}
  
  .timeline {
    height: 300px;
    width: 5px;
    background-color: #e5e5e5;
  }
  
  .stub1 {
    line-height: 300px;
    font-size: 24px;
    background-color: #eae4e4;
  }
  
  .stub2 {
    height: 1000px;
  }
  
  .circle {
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
    background-color: #e5e5e5;
  }
  
  .circleWrapper {
    position: relative;
  }
  
  .message {
    position: relative;
    top: 20%;
    left: 65%;
    min-width: 150px;
    max-width: 100px;
    font-weight: bold;
    transition: opacity 6.0s ;
 
  }
  .borderedCard {
    border-style: solid;
    background-color: 'transparent';
    border-width: 2px;
    border-radius: '6px' !important;
    border-image: linear-gradient(50deg, rgb(128, 4, 124), rgb(227, 2, 195), rgb(230, 117, 227)) 1;
    border-collapse: separate; 
    overflow: hidden;
    perspective: 1px;
  }
  
  .messageleft {
    position: absolute;
    top: 20%;
    right: 50%;
    min-width: 150px;
    max-width: 100px;
    font-weight: bold;
    transition: opacity 300ms ease-out, transform 300ms ease-out;
  }
  
    .vertical-timeline-element-content-box {
      padding: 1em;
      border-radius: 0.25em;
      border: 4px solid transparent;
      border-image: linear-gradient(to right, #000000, #0098ED);
      border-image-slice: 1;
    }
  
    .vertical-timeline-element-content::before {
      border-left-color: #0098ED;
    }
  
    @media only screen and (min-width: 1170px) {
      .vertical-timeline-element-content .vertical-timeline-element-date {
        left: 136%;
      }
  
      :nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content .vertical-timeline-element-date, .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content .vertical-timeline-element-date {
        right: 136% !important;
      }
    }
  